body{
    background-color:#121212;
    margin:0;
    color:#fff;
    font-size:16px;
    line-height:normal;
}
h2{
    margin:0;
}

@font-face {
    font-family: 'ui-bold';
    src: url(fonts/MixUI-Bold.woff2);
}
@font-face {
    font-family: 'ui-regular';
    src: url(fonts/MixUI-Regular.woff2);
}
@font-face {
    font-family: 'title-bold';
    src: url(fonts/MixUITitle-Bold.woff2);
}
@font-face {
    font-family: 'title-extrabold';
    src: url(fonts/MixUITitle-Extrabold.woff2);
}
@font-face {
    font-family: 'title-variable';
    src: url(fonts/MixUITitleVariable.woff2);
}

.top-view-bar{
    background-color:#000000;
    gap: 16px;
    height: 24px;
    padding: 16px;
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 2;
    display:flex;
    align-items:center;
    -webkit-box-align: center;
}
.top-view-bar:before{
    bottom: 0;
    content: "";
    position: absolute;
    z-index: -1;
}
.spotify-logo{
    display:flex;
    align-items:center;
    -webkit-box-align:center;
}
.spt-logo{
    height:32px;
    color:#fff;
}
.ckTExL{
    fill:#fff;
    stroke:transparent;
}
.blank-div{
    flex:1;
}
.search-open-hamburg{
    display:flex;
}
.top-bar-search{
    display:flex;
    align-items:center;
    padding:0 16px;
    /* color:#fff; */
}
.dCAvla{
    fill:#fff;
    width:16px;
    height:16px;
}
.button-sc-open{
    box-sizing:border-box;
    background-color:transparent;
    border:0;
    border-radius:9999px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    text-align:center;
    align-self:center;
    padding:0px;
    /* font-size:0.8125rem; */
    font-family:'title-bold';
}
.button-inner{
    box-sizing:border-box;
    position:relative;
    background-color:#ffffff;
    display:flex;
    border-radius:9999px;
    align-items:center;
    justify-content:center;
    padding-inline:16px;
    padding-block:4px;
    height:32px;
}
.top-bar-hamburg{
    display:flex;
    -webkit-box-align:center;
    align-items:center;
}
.button-sc-ham{
    background:none;
    border:none;
    color:#fff;
    margin-inline-start:16px;
    padding:0;
    text-align:start;
    display:flex;
    align-items:center;
}
#preview-menu-button{
    box-sizing:border-box;
    border-radius:9999px;
    cursor:pointer;
    position:relative;
    justify-content:center;
}
.iconwrapper{
    display:flex;
}
.bneLcE{
    fill:currentColor;
    width:24px;
    height:24px;
}
#main{
    margin-top:56px;
}
.main-inner-contents{
    padding-inline:16px;
}
.categoriesHead{
    margin-bottom:12px;
    margin-top:24px;
    overflow:hidden;
}
.artists-head{
    margin-top:80px;
}

.text-title-small{
    font-size:1.25rem;
    font-family:'title-variable';
}
.scrollON{
    display:flex;
    left:50%;
    margin-left:-50vw;
    margin-right:-50vw;
    position:relative;
    right:50%;
    width:100vw;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:stretch;
    overflow-x:scroll;
    scrollbar-width:none;
}
.artist-card{
    display:inline-flex;
    flex-direction:column;
    row-gap:8px;
    position:relative;
    border-radius:6px;
    z-index:0;
    padding-block:8px;
    padding-inline:8px;
    cursor:pointer;
}
.firstartistcard{
    margin-inline-start:8px;
}
.kOChlU{
    border-radius:4px;
    aspect-ratio:1/1;
    object-fit:cover;
    min-inline-size: 152px;
    inline-size:100%;
    
}
.namediv{
    font-family:'ui-regular';
}
.footer-nav{
    background-color:rgb(18,18,18);
    padding:8px 16px 40px;
    width:100%;
    box-sizing:border-box;
}
.footer-topsection{
    display:flex;
    flex-direction:column;
    margin-top:32px;
}
.foot-top-contents{
    display:flex;
    flex-flow: column wrap;
}
.foot-group{
    margin-bottom:32px;
}
.footgroup-para{
    color:rgb(255,255,255);
    font-family:'ui-bold';
    font-size:1rem;
    margin:0;
}
.foot-group a{
    text-decoration:none;
    font-family:'ui-regular';
    margin:8px 0px;
    width:fit-content;
    display:block;
    color:#b3b3b3;
}
.foot-top-sociallogo{
    margin-bottom:40px;
}
.social-links{
    display:inline;
    padding-right:12px;
}
.logolog{
    padding-right:0px;
}
.social-logo{
    height:40px;
    width:40px;
    border-radius:50%;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(41,41,41);
}
.dCAvla{
    width:16px;
    height:16px;
}
.dYnaPI{
    fill:#fff;
    width:16px;
    height:16px;
}
.horizon-line{
    border-color:rgba(255, 255, 255, 0.1);
    border:0px;
    border-block-start: 1px solid #292929;
    margin-bottom:20px;
    margin-top:0px;
}
.footer-bottomlinks{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-between;
    padding-top:16px;   
}



